{{define "main"}}

<div class="hero">
	<h1>Community & Resources for<br>Open Source Maintainers</h1>
</div>

<hr>

<section>
	<h2>Resource Paths</h2>

	<div class="feature-box-container">
		<a href="/tags/starter" class="feature-box">
			<svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 19a4 4 0 100-8 4 4 0 000 8zM8.5 7.5h6M19 15l-4-7.5h-.5m0 0l2-3m0 0H14m2.5 0h2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 15l3.5-7.5L12 14h3M8.5 7.5c-.333-1-1.5-3-3.5-3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19 19a4 4 0 100-8 4 4 0 000 8z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
			<div>
				<h3>Starter</h3>
				<p>I'm new to open source</p>
			</div>
		</a>

		<a href="/tags/growing" class="feature-box">
			<svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 19a2 2 0 100-4 2 2 0 000 4zM18 19a2 2 0 100-4 2 2 0 000 4z" stroke-width="1.5" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.05 17H15V6.6a.6.6 0 00-.6-.6H1M5.65 17H3.6a.6.6 0 01-.6-.6v-4.9" stroke-width="1.5" stroke-linecap="round"></path><path d="M2 9h4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15 9h5.61a.6.6 0 01.548.356l1.79 4.028a.6.6 0 01.052.243V16.4a.6.6 0 01-.6.6h-1.9M15 17h1" stroke-width="1.5" stroke-linecap="round"></path></svg>
			<div>
				<h3>Growing</h3>
				<p>I'm maintaining a growing project</p>
			</div>
		</a>

		<a href="/tags/experienced" class="feature-box">
			<svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 4.5v4.667a.6.6 0 01-.282.51l-7.436 4.647a.6.6 0 00-.282.508v.9a.6.6 0 00.746.582l6.508-1.628a.6.6 0 01.746.582v2.96a.6.6 0 01-.205.451l-2.16 1.89c-.458.402-.097 1.151.502 1.042l3.256-.591a.6.6 0 01.214 0l3.256.591c.599.11.96-.64.502-1.041l-2.16-1.89a.6.6 0 01-.205-.452v-2.96a.6.6 0 01.745-.582l6.51 1.628a.6.6 0 00.745-.582v-.9a.6.6 0 00-.282-.508l-7.436-4.648a.6.6 0 01-.282-.509V4.5a1.5 1.5 0 00-3 0z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
			<div>
				<h3>Experienced</h3>
				<p>I've been a maintainer for a while</p>
			</div>
		</a>		
	</div>
	<hr>
</section>

<section>
	<h2>About</h2>
	<div class="about-grid">
		<div>
			<h3>What</h3>
			<p>
				maintainers.dev has been built to provide support for open source
				maintainers, regardless of your experience or type of open source project.
				This is done through a variety of resources & guidance, in addition to an
				open forum where you can talk to other maintainers.
			</p>
		</div>
		<div>
			<h3>Who</h3>
			<p>
				This has been started by <a href="https://danb.me" target="_blank">Dan Brown</a>, 
				an open source developer that found maintainership tricky as their project grew. 
				Experience from growing a project, in addition to taking part in open source communities,
				indicated that a maintainer-focused resource & community could be helpful to others
				taking part, or starting out, in maintaining open source.
			</p>
		</div>
		<div>
			<h3>Why</h3>
			<p>
				While there are a lot of resources out there for open source in general,
				there are few specifically seeking to support maintainers. 
				Upon that much of the existing resources are published, and from the perspective 
				of, large corporate entities that can often over focus on problems not apparent to 
				indie developers, which can be alienating for those starting as an open source maintainer.
			</p>
		</div>
	</div>
	<hr>
</section>


<section>
	<h2>Latest Resources</h2>

	{{ $pages := .Site.RegularPages }}

	<ul>
	{{range $pages}}
	<li>{{.Date.Format "2006-01-02"}} | <a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{end}}
	</ul>

</section>

{{end}}