
/*
 * Global Styles
 */

* {
	box-sizing: border-box;
}

:root {
	--color-primary: #8294C4;
	--color-diluted: #ACB1D6;
	--color-shade: #DBDFEA;
	--color-background: #FFEAD2;

	--content-width: 940px;

	background: var(--color-background);
}


/*
 * Layout HTML Tags
 */

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	color: #000;
}

hr {
	margin: 0;
	height: 1px;
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0, .4);
}

section {
	padding: 1rem 0;
}
section > hr:last-child {
	margin-top: 3rem;
}

/*
 * Text HTML Tags
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Geologica', sans-serif;
}

p {
	line-height: 1.6;
}

a {
	color: #000;
	text-decoration: underline;
	text-decoration-thickness: .1em;
}
a:focus {
	outline: .2em dotted #000;
	outline-offset: .15em;
}
ul li {
	margin-block: .5em;
}

/*
 * General Structure & Layout
 */

.container {
	max-width: var(--content-width);
	margin: 0 auto;
}

/*
 * Site header & footer
 */

header .header-inner {
	display: flex;
	padding-block: 1rem;
	justify-content: space-between;
	align-items: center;
}
header ul {
	list-style: none;
	display: flex;
	gap: 1rem;
}
header .logo {
	text-decoration: none;
	font-weight: 700;
	color: #000;
	font-size: 1.5rem;
}
header ul a {
	color: #000;
	font-weight: 700;
}

footer {
	margin-top: 1rem;
	font-size: .9rem;
}

.footer-inner {
	padding-block: 1rem;
}

/*
 * Standard main content
 */

main {
	max-width: 800px;
	margin: 0 auto 3rem auto;
}
main h1 {
	font-size: 3rem;
	margin: 0;
}

main ul.tags {
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
main ul.tags a {
	font-weight: bold;
	color: rgba(0, 0, 0, .5);
}

/*
 * In-page elements
 */

.hero {
	text-align: start;
	padding: 4rem 0 5rem;
}

.hero h1 {
	margin: 0;
	font-weight: 700;
	font-size: 3rem;
}

.feature-box-container {
	display: flex;
	gap: 2rem;
}

.feature-box {
	border: 4px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 1rem;
	color: #000;
	text-decoration: none;
	flex: 1;
}

a.feature-box:hover {
	background: #000;
	color: var(--color-background);
}

.feature-box svg {
	stroke: currentColor;
	height: 80px;
	margin-bottom: 1rem;
}
.feature-box h3, .feature-box p {
	margin: 0;
}
.feature-box h3 {
	margin-bottom: .5rem;
	font-weight: 700;
}
.feature-box p {
	font-style: italic;
}

.about-grid {
	display: grid;
	grid-column-gap: 2rem;
	grid-template: "a a b b b"
				   "c c c c c";
}
.about-grid :nth-child(1) {
	grid-area: a;
}
.about-grid :nth-child(2) {
	grid-area: b;
}
.about-grid :nth-child(3) {
	grid-area: c;
}

.article-header {
	margin: 4rem 0;
}