<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>maintainers.dev</title>

	<link rel="stylesheet" href="/styles.css">
	<script defer data-domain="maintainers.dev" src="https://analytics.bookstackapp.com/js/script.js"></script>

	<link rel="icon" sizes="32x32" href="icons/icon-32.png" type="image/png" />
	<link rel="icon" sizes="64x64" href="icons/icon-64.png" type="image/png" />
	<link rel="icon" sizes="192x192" href="icons/icon-192.png" type="image/png" />
</head>